:root {
  --header-color: #ffffff;
  --name-color: #212121;
  --text-color: #757575;
  --button-color: #2196f3;
  --footer-text: #ffffff99;
  --hero: #2f303a;
  --portfolio-list: #eeeeee;
  --button-portfolio: #f5f4fa;
}

body {
  font-family: roboto, Tahoma, sans-serif;
  background-color: hsl(0, 0%, 100%);
  color: var(--name-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
button {
  cursor: pointer;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
  margin: 0;
  padding-left: 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.conteiner {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  /* outline: 1px solid red; */
}
img {
  display: block;
}
/*---------------Header----------------*/

.header {
  display: flex;
  border-bottom: 1px solid #ececec;
  align-items: center;
}
.header-item {
  display: flex;
  align-items: center;
}
.item,
.mail,
.tel {
  padding-top: 32px;
  padding-bottom: 32px;
}
.tel-item {
  padding-top: 28px;
  padding-bottom: 28px;
}
.mail-tel,
.navigation {
  display: flex;
}

.navigation .nav-item:not(:last-child) {
  margin-right: 40px;
}

.web-log {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  letter-spacing: 0.03em;

  color: var(--button-color);
}
.logotype {
  margin-right: 93px;
  padding-top: 23px;
  padding-bottom: 23px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  letter-spacing: 0.03em;

  color: #000000;
}
.item {
  font-weight: 500;
  line-height: 1.71;
  letter-spacing: 0.02em;

  color: var(--name-color);
}

.item:hover,
.item:focus {
  color: var(--button-color);
}
.mail-tel {
  margin-left: auto;
}
.tel-item + .tel-item {
  margin-left: 50px;
}

.tel {
  font-weight: 500;
  line-height: 1.71;
  letter-spacing: 0.02em;

  color: var(--text-color);
}
.tel:hover,
.tel:focus {
  color: var(--button-color);
}

.mail {
  font-weight: 500;
  line-height: 1.71;
  letter-spacing: 0.02em;

  color: var(--text-color);
}

.mail:hover,
.mail:focus {
  color: var(--button-color);
}
.light {
  color: var(--button-color);
}
/*----------------HERO----------------*/

.baner {
  margin-top: 0px;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;

  color: var(--header-color);
}
.hero-text {
  padding: 200px 0;
  text-transform: uppercase;
  width: 696px;
  text-align: center;
}
.hero {
  background-color: var(--hero);
}
.ban-btn {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: var(--header-color);
  background: var(--button-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  border: 0;
}

/*----------------work----------------*/
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.work .working:not(:last-child) {
  margin-right: 30px;
}
.work {
  display: flex;
}

.work-name {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 10px;

  color: var(--name-color);
}

.work-text {
  width: 270px;

  font-weight: 400;
  line-height: 1.71;

  color: var(--text-color);
}

/*----------------Class----------------*/
.my-team {
  background-color: #f5f4fa;
}
.photo .class-item:not(:last-child) {
  margin-right: 30px;
}

.class-photos {
  margin-top: 0px;
  margin-bottom: 50px;
  text-align: center;
  padding-bottom: 94px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;

  color: var(--name-color);
}
.photo {
  display: flex;
  margin-top: 0px;
}

/*----------------team----------------*/
.team {
  display: flex;
}
.team-type {
  margin-bottom: 50px;
  text-align: center;
  background-color: var(--button-portfolio);
}
.team .team-item:not(:last-child) {
  margin-right: 30px;
}
.team-item {
  background: var(--header-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-cards {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-name {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  color: var(--name-color);
}

.team-text {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;

  color: var(--text-color);
}
.team-type {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;

  color: var(--name-color);
}

/*----------------buttons----------------*/

.section-button {
  margin-top: 94px;
  margin-bottom: 50px;
}
.oll {
  width: 73px;
  height: 38px;
  left: 495px;
  top: 174px;
}
.web {
  width: 128px;
  height: 38px;
  left: 576px;
  top: 174px;
}
.soft {
  width: 145px;
  height: 38px;
  left: 712px;
  top: 174px;
}

.marketing {
  width: 130px;
  height: 38px;
  left: 976px;
  top: 174px;
}

.design {
  width: 103px;
  height: 38px;
  left: 865px;
  top: 174px;
}
.buttons {
  display: flex;
  justify-content: center;
}
.buttons .nav-portfolio:not(:last-child) {
  margin-right: 8px;
}
.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  color: var(--name-color);

  background: var(--button-portfolio);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}
.button:hover {
  color: #ffffff;
  background: var(--button-color);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/*--------------portfolio-list----------------*/
.portfolio-list {
  padding-bottom: 94px;
}
.cards {
  padding: 20px 24px 20px 24px;
  border: 1px solid var(--portfolio-list);
}
.photo-portfolio {
  display: flex;
  flex-wrap: wrap;
}
.portfolio-item {
  margin-bottom: 30px;
  width: 370px;
  margin-right: 30px;
}
.portfolio-item:nth-child(3n) {
  margin-right: 0;
}

.photo-portfolio .portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-neme {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--name-color);
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: var(--text-color);
}

/*----------------footer----------------*/

.footer {
  margin: 0 auto;
  background: var(--hero);
  padding-top: 60px;
  padding-bottom: 60px;
}
.logotype-footer {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;

  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-logo {
  margin-bottom: 20px;
}
.adress {
  font-style: normal;
}
.adress-item {
  margin-bottom: 9px;
}
.adress-list .adress-item:last-child {
  margin-bottom: 0px;
}
.map {
  font-weight: 400;
  line-height: 1.71;

  color: var(--header-color);
}
.mail-footer {
  font-weight: 400;
  line-height: 1.71;

  color: var(--footer-text);
}

.tel-footer {
  font-weight: 400;
  line-height: 1.71;

  color: var(--footer-text);
}
